div.page {
    height: 100%;
    width: 100%;
    background: #F5F5F5;
    font-size: larger;
    font-family: "Microsoft YaHei", "黑体", "宋体", "Arial", sans-serif;
    text-align: left;
    color: #424242;
}

div.page .header {
    background: #E0E0E0;
    color: #212121;
}

div.page .header h1 {
    color: rgb(215, 89, 139);
}

.textPage .content {
    width: 15rem;
    margin: auto;
}

.textPage .content label {
    clear: both;
}

div.page .content .highlight{
    clear: both;
    color: rgb(215, 89, 139);
}

.default .content {
    width: 100%;
    padding: 0;
}

.default .divImg {
    width: 95%;
    margin: 0 auto;
    padding: 0;
}

.default .divImg img {
    width: 100%;
    margin: auto;
}

.default .title {
    /*display: none;*/
    margin: 0.5rem auto 0.5rem auto;
    text-align: center;
}


